<form action="/stock/update/<%= stock.id %>" method="POST" >
  <h1>Edit Stock</h1>

  <input value="<%= stock.owner %>" type="hidden" name="owner" /><br><br>
  <input value="<%= stock.symbol %>" type="text" name="symbol" ><br><br>
  <input value="<%= stock.name %>" type="text" name="name" ><br><br>
  <input value="<%= stock.price %>" type="text" name="price" ><br><br>
  <input value="<%= stock.number_of_shares %>" type="text" name="number_of_shares" ><br><br>
  <input value="<%= stock.date_purchased %>" type="text" name="date_purchased" ><br><br>
  <input value="<%= stock.current_price %>" type="text" name="current_price" ><br><br>
  <input type="submit" value="Edit stock" />
</form><br>
<form action="/customer/" method="POST">
  <input type="submit" style="float:right" value="Customer List Here!  " />
</form>

