<h1><%= customer.name %></h1>
<hr>
<h3>Address: <%= customer.street_address %></h3>
<h4><%= customer.city + ', ' + customer.state %></h4>
<h4><%= customer.email%></h4>
<hr>
<h3>Stocks</h3>
<table>
  <tr>
    <th width="50px">Symbol</th>
    <th width="180px">Name</th>
    <th>Purchase Price</th>
    <th>Number of Shares</th>
    <th>Date of Purchase</th>
    <th>Current Price</th>
    <th>Profit/Loss Margin</th>
    <th></th>
    <th></th>
  </tr>
  <% _.each(customer.stocks, function(stock) { %>
  <tr data-id="<%= stock.id %>" data-model="stock" >
    <td width="50"><%= stock.symbol %></td>
    <td width="180px"><%= stock.name %></td>
    <td width="120px"><%= stock.price %></td>
    <td width="100px"><%= stock.number_of_shares %></td>
    <td width="100px"><%= stock.date_purchased %></td>
    <td width="75px"><%= stock.current_price %></td>
    <td width="105px"><%= Math.round(((stock.profit = stock.current_price - stock.price)+ .00001)*100) /100%></td>
    <td><a href="/stock/edit/<%= stock.id %>">Edit/</a></td>
    <td><a href="/stock/destroy/<%= stock.id %>">Delete</a></td>
  </tr>
  <% }) %>
</table>
<hr>
<h3>Investments</h3>
<table>
  <tr>
    <th>Category</th>
    <th>Description</th>
    <th>Acquired Value</th>
    <th>Acquired Date</th>
    <th>Recent Value</th>
    <th>Recent Date</th>
    <th>Profit/Loss Margin</th>
  </tr>
  <% _.each(customer.investments, function(investment) { %>
  <tr data-id="<%= investment.id %>" data-model="investment" >
    <td><%= investment.category %></td>
    <td><%= investment.description %></td>
    <td><%= investment.acquired_value %></td>
    <td><%= investment.acquired_date%></td>
    <td><%= investment.recent_value %></td>
    <td><%= investment.recent_date%></td>
    <td><%= Math.round(((investment.profit = investment.recent_value - investment.acquired_value)+ .00001)*100) /100%></td>
    <td></td>
    <td><a href="/investment/edit/<%= investment.id %>">Edit/</a></td>
    <td><a href="/investment/destroy/<%= investment.id %>">Delete</a></td>
  </tr>
  <% }) %>
</table>
<hr>
<hr>
<form action="/stock/new" method="POST">
  <input type="hidden" value="<%= customer.id%>" name="owner"/>
  <input type="submit" value="Add stock" />
</form><br>
<form action="/investment/new" method="POST">
  <input type="hidden" value="<%= customer.id%>" name="owner"/>
  <input type="submit" value="Add Investment" />
</form><br>
<form action="/customer/" method="POST">
  <input type="hidden" value="<%= customer.id%>" name="owner"/>
  <input type="submit" value="Back to Customer List" />
</form>
